.widgetCarrito{
    width: 15%;
    text-align: center;
   
   }
.divContador{
    position: absolute;
    width: 1.5vw;
    background-color: rgb(245, 245, 87);
    border-radius: 60%;
    margin-left: 40px;
    
    bottom: 30px;
}
   .contador{
   font-size: 15px;

   }
