.detail {
    display: block;
    text-align: center;
    margin-left: 43%;
    margin-top: 25%;
    margin-bottom: 10vh;
    border-radius: 15px;
    background-color: white;
    width: 16vw;
    height: auto;
}

.imgDetail{
    width: 10vw;
    height: 25vh;
    padding: 5px;
    margin-bottom: 15PX;
    
   
}

.infoDetail{
    font-size: 15px;
    height: 10vh;
}
.detalleDetail{
    font-size: 12px;
    padding: 5px;
}