* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    


}

body,html {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(../public/img/camaras.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* header */



.titulo {
    position: absolute;
    top: 0px;
    background-color: rgb(54, 131, 248);
    text-align: center;
    

}

.header {
    font-size: 30px;
}


/* nav */


.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 62px;
    width: 100%;




}

.logoNav {
    width: 25vw;
}

.logo {
    background-color: white;
    width: 8vw;
    margin-bottom: 3vh;
    margin-left: 20px;
    border-radius: 20px;
}


.navbar-nav {
    text-align: end;

}

.container-fluid {
    width: 70%;


}


.nav-link {

    color: black;
    width: 10vw;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    font-size: 18px;
    background-color: rgba(146, 147, 150, 0.781);
    text-align: center;
    border-radius: 10px;

}

.nav-link:hover {
    background-color: black;
    color: white;
}



.cartProductos {
    text-align: center;
    height: 40vh;
    margin-top: 10vh;

}

.productos {
    display: inline-block;
    background-color: rgb(252, 251, 251);
    padding: 20px;
    width: 14vw;
    height: 50vh;
    margin-right: 100px;
    border-radius: 15px;
}

.img {
    width: 13vw;
    height: 20vh;
    margin-bottom: 15px;
}